<!DOCTYPE html>
<html>
<head>
	<title>建正会展</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black"  /> 
	<meta name="format-detection" content="telephone=no"  /> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="cleartype" content="on" />
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="browsermode" content="application">
	<meta name="x5-page-mode" content="app">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="stylesheet" href="../../../../css/mobile/common.css">
</head>
<body>
	<div class="out graybg">
		<div class="in">
			<div class="toptitle">
				<div class="soicon" id="slideout"></div>
				建正会展
			</div>
		</div>
	</div>
	<div class="out rbnav">
		<div class="in header">
			<div class="siout">
				<div class="siicon" id="slidein"></div>
			</div>
			<ul class="toplink">
				<li><a href="../../login.html">登录</a></li>
				<li><a href="../../sign.html">注册</a></li>
				<li><a href="../../collect.html">收藏我们</a></li>
			</ul>
		</div>
		<div class="in">
			<ul class="nav">
				<li><a href="../../index.html">首页</a></li>
				<li><a href="../../show.html">展示</a></li>
				<li><a href="../../client/request/creat.html">发布需求</a></li>

				<li><a href="../../client/request/list.html">我的需求</a></li>
				<li><a href="../../client/response/list.html">收到报价</a></li>
				<li><a href="../../vendor/request/list.html">所有需求</a></li>
				<li><a href="../../vendor/response/list.html">我的报价</a></li>

				<li><a href="../../hot.html">热门区域</a></li>
				<li><a href="../../design.html">定制</a></li>
				<li><a href="../../video.html">视频会议</a></li>
				<li><a href="../../room.html">虚拟会议室</a></li>
				<li><a href="../../about.html">关于我们</a></li>
			</ul>
		</div>
	</div>
	<div class="out">
		<div class="in">
			<div class="main" id="main">
			</div>
		</div>
	</div>
	<script type="text/template" id="maintpl">
		<table class="form data-form hasprice responsetable">
			<tr class="gray">
				<td width="2%" ></td>
				<td width="50%"  colspan="2">内容</td>
				<td width="12%" >单价</td>
				<td width="12%" >人数/数量</td>
				<td width="12%" >天数</td>
				<td width="12%" >总价</td>
			</tr>
			<tr class="sky">
				<td>1</td>
				<td colspan="2">酒店信息</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>日期</td>
				<td>房型</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<%if(detail.hotel.length>0){
				for(var i in detail.hotel){
				var v=detail.hotel[i];%>
				<tr  class="yellow">
					<td></td>
					<td><%=new Date(v.date_start).toLocaleDateString()%>-<%=new Date(v.date_end).toLocaleDateString()%></td>
					<td><%=v.name%>-<%=v.type_name%></td>
					<td><%=v.price%></td>
					<td><%=v.room%></td>
					<td><%=v.days%></td>
					<td><%=v.total%></td>
				</tr>
			<%}}%>
			<tr class="yellow">
				<td></td>
				<td>备注</td>
				<td colspan="5"><%=detail.hotel_memo%></td>
			</tr>
			<tr class="mud">
				<td></td>
				<td>小计</td>
				<td colspan="5" class="tr"><%=detail.hotel_all%></td>
			</tr>
			<tr class="sky">
				<td>2</td>
				<td colspan="2">会场信息</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>日期</td>
				<td>容量（注明台型，人数）</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<%if(detail.area.length>0){
				for(var i in detail.area){
				var v=detail.area[i];%>
				<tr class="yellow">
					<td></td>
					<td><%=new Date(v.date_start).toLocaleDateString()%>-<%=new Date(v.date_end).toLocaleDateString()%></td>
					<td><%=v.type_name%></td>
					<td><%=v.price%></td>
					<td><%=v.people%></td>
					<td><%=v.days%></td>
					<td><%=v.total%></td>
				</tr>
			<%}}%>
			<tr class="yellow">
				<td></td>
				<td>备注</td>
				<td colspan="5"><%=detail.area_memo%></td>
			</tr>
			<tr class="mud">
				<td></td>
				<td>小计</td>
				<td colspan="5" class="tr"><%=detail.area_all%></td>
			</tr>
			<tr class="sky">
				<td>3</td>
				<td colspan="2">用餐信息</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>日期</td>
				<td>餐厅/形式</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<%if(detail.dinner.length>0){
				for(var i in detail.dinner){
				var v=detail.dinner[i];%>
				<tr class="yellow">
					<td></td>
					<td><%=new Date(v.date_start).toLocaleDateString()%>-<%=new Date(v.date_end).toLocaleDateString()%></td>
					<td><%=v.type_name%></td>
					<td><%=v.price%></td>
					<td><%=v.people%></td>
					<td><%=v.days%></td>
					<td><%=v.total%></td>
				</tr>
			<%}}%>
			<tr class="yellow">
				<td></td>
				<td>备注</td>
				<td colspan="5"><%=detail.dinner_memo%></td>
			</tr>
			<tr class="mud">
				<td></td>
				<td>小计</td>
				<td colspan="5" class="tr"><%=detail.dinner_all%></td>
			</tr>
			<tr class="sky">
				<td>4</td>
				<td colspan="2">用车信息</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>日期</td>
				<td>车型</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<%if(detail.car.length>0){
				for(var i in detail.car){
				var v=detail.car[i];%>
				<tr class="yellow">
					<td></td>
					<td><%=new Date(v.date_start).toLocaleDateString()%>-<%=new Date(v.date_end).toLocaleDateString()%></td>
					<td><%=v.type_name%></td>
					<td><%=v.price%></td>
					<td><%=v.people%></td>
					<td><%=v.days%></td>
					<td><%=v.total%></td>
				</tr>
			<%}}%>
			<tr class="yellow">
				<td></td>
				<td>备注</td>
				<td colspan="5"><%=detail.car_memo%></td>
			</tr>
			<tr class="mud">
				<td></td>
				<td>小计</td>
				<td colspan="5" class="tr"><%=detail.car_all%></td>
			</tr>
			<tr class="sky">
				<td>5</td>
				<td colspan="2">其他</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>物料名称</td>
				<td>（是/否）需要</td>
				<td></td>
				<td></td>
				<td></td>
				<td>合计</td>
			</tr>
			<%var items = ["摄影/摄像","胸牌制作","X展架/易拉宝","背景板","横幅","资料打印","礼品制作"];
				if(detail.other.length>0){
				for(var i in detail.other){
				var v=detail.other[i];%>
				<tr class="yellow">
					<td></td>
					<td><%=items[v.type_id]%></td>
					<td><%=(v.need?"是":"否")%></td>
					<td></td>
					<td></td>
					<td></td>
					<td><%=v.total%></td>
				</tr>
			<%}}%>
			<tr class="yellow">
				<td></td>
				<td>备注</td>
				<td colspan="5"><%=detail.other_memo%></td>
			</tr>
			<tr class="mud">
				<td></td>
				<td>小计</td>
				<td colspan="5" class="tr"><%=detail.other_all%></td>
			</tr>
			<tr class="sky">
				<td>6</td>
				<td colspan="2">陪同人员</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>是否需要陪同</td>
				<td>陪同天数</td>
				<td>单价</td>
				<td></td>
				<td></td>
				<td>合计</td>
			</tr>
			<tr class="yellow">
				<td></td>
				<td><%=(detail.with.with_need?"是":"否")%></td>
				<td><%=detail.with.with_people%></td>
				<td><%=detail.with.with_price%></td>
				<td></td>
				<td></td>
				<td><%=detail.with.with_total%></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>是否需要地接</td>
				<td>地接天数</td>
				<td>单价</td>
				<td></td>
				<td></td>
				<td>合计</td>
			</tr>
			<tr class="yellow">
				<td></td>
				<td><%=(detail.with.catch_need?"是":"否")%></td>
				<td><%=detail.with.catch_people%></td>
				<td><%=detail.with.catch_price%></td>
				<td></td>
				<td></td>
				<td><%=detail.with.catch_total%></td>
			</tr>
			<tr class="sky">
				<td>7</td>
				<td colspan="2">服务费:按照总活动金额%计算（增值税发票，可抵扣6%）</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>服务费比例</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>合计</td>
			</tr>
			<tr class="yellow">
				<%var feeptype = ["不收","6%","12%"];%>
				<td></td>
				<td><%=feeptype[detail.fee.percent]%></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><%=detail.fee.total%></td>
			</tr>
			<tr class="yellow">
				<td></td>
				<td>备注</td>
				<td colspan="5"><%=detail.fee.memo%></td>
			</tr>
			<tr class="sky">
				<td>8</td>
				<td colspan="2">发票</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="sky">
				<td></td>
				<td>是否需要发票</td>
				<td>发票类型</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="yellow">
				<% var invoicetype = ["普通发票","增值税发票"];%>
				<td></td>
				<td><%=(detail.inv.need?"是":"否")%></td>
				<td><%=invoicetype[detail.inv.type_id]%></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr class="deepyellow">
				<td></td>
				<td>费用总计：</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><%=detail.total%></td>
			</tr>
		</table>
		<% if(detail.state!=2){%>
			<button id="confirm" class="responsebtn" oid="<%=detail._id%>">确认报价</button>
		<%}%>
	</script>
	<script type="text/javascript" defer async="true" data-main="../../../../js/mobile/client/response/detail.js" src="../../../../lib/requirejs/require.js"></script>
</body>
</html>